@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400&display=swap');
/* --- Colors ---
#592344
#7F305C
*/

/*--- General ---*/

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #222;
}

h1, h2, h3, h4, h5 {
    font-family: 'Sansita Swashed', cursive;
}

.img-fluid {
    display: block;
    margin: 0 auto;
}

.header {
    padding-bottom: 1rem;
}

.lead {
    text-align: center;
}

.padding {
    padding-bottom: 1rem;
}

.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1em !important;
}

.carousel {
    padding-bottom: 2rem;
}

.carousel-inner video {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
}

.carousel-caption h1 {
    color: #7f2e58;
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
}

.container {
    max-width: 1275px;
}

/******* 
Jumbotron 
********/

.jumbotron {
    margin: 0 auto;
    width: 75%;
    background-color: #7F305C;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.jumbotron h2 {
    text-align: center;
    /* padding-bottom: 2rem; */
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
    line-height: 1.5;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-bottom: 1rem;
}

.col-lg-6 {
    padding-top: 1rem;
}

.card {
    border: none;
    line-height: 1.46;
}

/**********
Fixed image 
***********/

#fixed {
    min-height: 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.figure-caption {
    transform: translateY(180%);
    text-align: center;
    font-size: 18px;
}

.figure-caption h5 {
    font-size: 72px;
}

/******* 
Services 
********/

.list li {
    list-style-type: none;
}

.list li:before {
    content: '~';
    padding-right: 8px;
}

.hello {
    width: 75%;
    margin: 0 auto;
}

i {
    font-size: 18px;
    padding-right: 8px;
}

.purple {
    background-color: #7F305C;
    color: #fff;
}

.purpler {
    background-color: #341629;
    color: #fff;
}

.col-12 a {
    color: #fff;
}

/*****
Footer
******/

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #d5d5d5;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

hr.socket {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

.socket h6 {
    text-align: center;
}

/*--- Media Queries ---*/

/* @media (max-width: 992px) {} */

@media (max-width: 768px) {
    .carousel-caption {
        top: 45%;
    }
    .carousel-caption h1 {
        font-size: 350%;
    }
    .carousel-caption h3 {
        font-size: 140%;
        font-weight: 400;
        padding-bottom: 0.2rem;
    }
    .display-4 {
        font-size: 200%;
    }
    figure {
        display: none;
    }
}

@media (max-width: 576px) {
    .carousel-caption {
        top: 40%;
    }
    .carousel-caption h1 {
        font-size: 240%;
    }
    .carousel-caption h3 {
        font-size: 90%;
    }
    .display-4 {
        font-size: 160%;
    }
}